.container {
    padding: 5px;
    border: 1px solid;
    display: flex;
    gap: 5px;

    input {
        border: none;
    }

    img {
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
    }

    img:active {
        filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
    }
}